---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {% if post.content contains site.excerpt_separator %}
           <p>{{ post.excerpt | remove: '</p>' }}
             <a class="post-excerpt-link" href="{{ post.url | prepend: site.baseurl }}">&nbsp;&raquo; continue reading&hellip;</a></p>
        {% else %}
          {{ post.excerpt }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>

</div>
